<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Evaluate News Apps</title>
  </head>

  <body>
    <header>
      <div class=""><img src=".logo.png" alt="logo" /></div>
      <div class="">HOME</div>
    </header>

    <main>
      <section>
        <form class="form" onsubmit="return Client.handleSubmit(event)">
          <h1>Analyze Articles by URL</h1>
          <input
            id="url"
            type="text"
            name="input"
            value=""
            placeholder="Enter URL"
          />
          <input
            type="submit"
            name=""
            class="submit"
            value="submit"
            onclick="return Client.handleSubmit(event)"
            onsubmit="return handleSubmit(event)"
          />
        </form>
      </section>

      <section>
        <strong>Form Results:</strong>
        <div id="results"></div>
      </section>
    </main>

    <footer>
      <p>&copy;2021 Emerson Espinoza</p>
    </footer>
  </body>
</html>
