header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(0, 116, 145);
  height: 10vh;
}

.nav-item {
  text-decoration: none;
  font-size: 1em;
  color: white;
  height: fit-content;
  padding: 10px;
  align-self: flex-end;
  &:hover {
    text-decoration: underline;
  }
}
